/*================================
Stylesheet for Chat system
File: stylesheet.css
Date: 05.11.2018

Structure:
1. General Styles
2. Styles for layout areas
3. Other Styles
==================================*/

/*=================================
1. General Styles
===================================*/
body {
  background-color: /*#F7b733;*/ #FFCE00;
  margin: 0;
  padding: 0;
  color: #262228;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 100%;
}

a{
  color: white;
  display: block;
  text-align: center;
  text-decoration: none;
}

h2{
	text-decoration: none;
	margin: 0;
	padding: 0;
	font-weight: normal;
}

h3 {
	font-weight: normal;
	padding: 0;
	margin: 0;

}

textarea{
	/*display: inline-block;*/
	outline: none;
	font-family: 'Open Sans Condensed', sans-serif;
}

input{
	display: block;
}

/*=================================
2. Styles for Layout Areas
===================================*/

.header{
	margin: 2%;
  	text-align: center;
  	font-size: 3vw;
}

#CommentFile{
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: /*#4ABDAC; */ #0375B4;
	/*margin-top: 20;*/
	color: white;
	font-weight: normal;
	margin: 5vw;
	padding: 2vw;
}

.AllComments{
	font-family: 'Open Sans Condensed', sans-serif;
	/*margin: 5vw;*/
	padding: 5px;
	font-weight: normal;
}

.IndividualComment{
	padding: 1vw;
	background-color: #007849;
}

.Input{
	/*width:400px;*/
    height:50px;
    text-align: center;
    /*position: fixed;
    top: 41vw;
    right: 0px;
    left: 0px;
    z-index: 2000;*/
}

.Input > div{
	margin:0 auto;
    width:250px;
}


/*=================================
3. Other Styles
===================================*/

.button {
  background-color: #262228; /*#007849; #FC4A1A;*/
  padding: 5px 10px;
  /*text-align: center;*/
  text-decoration: none;
  display: inline;
  font-size: 2vw;
  color: white;
  margin: 20px;
  border: none;
  width: 600px;
}

.userName{
	font-weight: bold;
	color: #DFDCE3; /*#FC4A1A;*/
}

.Login{
	display: block;
	background-color: #0375B4;
	color: white;
	text-align: center;
	margin: 0 5vw 5vw 5vw;
	padding: 2vw;
}

